<div class="center jumbotron">
  <h1>Bienvenido a Model Arts Studio</h1>
    <h2>
        Tu lo eliges y nosotros lo pintamos
    </h2>
    <%# <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("logo.png", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>