<footer class="footer">
    <small>
        Model Arts Studio
    </small>
    <nav>
        <ul>
            <li><%= link_to "Soporte", help_path %></li>
            <li><%= link_to "Contacta", contact_path %></li>
            <li><%= link_to "MAS", about_path %></li>
        </ul>
    </nav>
</footer>